:root {
    --primary-color: #3498db; /* A pleasant blue */
    --secondary-color: #2ecc71; /* A soft green */
    --accent-color: #e74c3c; /* A warm red for accents */
    --font-color-light: #ecf0f1; /* Light gray for dark theme font */
    --font-color-dark: #2c3e50; /* Dark gray for light theme font */
    --background-light: #ecf0f1; /* Light background */
    --background-dark: #34495e; /* Dark background */
    --shadow-color: rgba(0, 0, 0, 0.3);
    --shadow-blend: 6px;
    --shadow-y: 2px;
}

/* Themes */

.light-theme {
    --bg: var(--background-light);
    --bg-accent: var(--background-dark);
    --fontColor: var(--font-color-dark);
    --btnBg: var(--primary-color);
    --btnFontColor: var(--font-color-light);
}

.dark-theme {
    --bg: var(--background-dark);
    --fontColor: var(--font-color-light);
    --btnBg: var(--secondary-color);
    --btnFontColor: var(--font-color-dark);
}

/* Main */

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

#map {
    height: 90vh;
}

#controls {
    padding: 0px 20px;
    height: 10vh;
    align-content: center;
    justify-content: space-around;
}

/* Buttons */

.btn {
    background-color: var(--btnBg);
    border: 2px solid var(--btnBg);
    color: var(--btnFontColor);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 8px var(--shadow-color);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--accent-color);
    color: var(--btnFontColor);
    border: 2px solid var(--accent-color);
}

.small-btn {
    padding: 2px 8px;
    border-radius: 0px;
}

/* Floating Windows */

.floating-window {
    display: none;
    position: absolute;
    background-color: var(--bg);
    min-width: 500px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 500;
    top: 50px;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
}

.floating-window p {
    color: var(--fontColor);
    display: inline-block;
}

.draggable-header {
    padding: 15px 0;
    user-select: none;
    background-color: var(--bg-accent);
    color: var(--btnFontColor);
}

.draggable-header h3 {
    margin: 0;
    font-size: 1.3em;
}

.menu-btns {
    padding: 10px;
}

.boxed {
    background-color: rgb(200, 200, 200);
    padding: 5px;
}

.confirmer {
    display: none;
    position: absolute;
    background-color: #f7efd7;
    width: 100%;
    z-index: 999;
    top: 90vh;
    height: 10vh;
    text-align: center;
}

.confirmer button {
    margin: 20px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    position: relative;
    max-height: 0px;
    padding: 0, 18px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/** Spinners **/
/* From: https://codepen.io/dmondma/pen/OJPpWwY */

.skin-2 .num-in {
    display: inline-block;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px var(--shadow-y) var(--shadow-blend) var(--shadow-color);
    border-radius: 25px;
    height: 40px;
    width: 110px;
    user-select: none;
}

.skin-2 .num-in span {
    width: 40%;
    display: inline;
    height: 40px;
    position: relative;
    user-select: none;
}

.minus:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.plus:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
}

.disabled:after {
    opacity: 0.5;
}

.num-block {
    margin-bottom: 10px;
}

.skin-2 .num-in input {
    display: inline;
    width: 20%;
    height: 38px;
    border: none;
    text-align: center;
}

/** Filters **/

.tag-filter {
    padding-bottom: 10px;
    background-color: #ffffff;
}

.tag-input {
    margin: 0 3px;
}

.tag-filter.selected {
    background-color: #f1f1f1;
}

.tag-filter input[type="text"] {
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px var(--shadow-y) var(--shadow-blend) var(--shadow-color);
    border: none;
    height: 30px;
    padding-left: 10px;
    width: 150px;
}

.tag-filter input[type="text"].small-input {
    width: 75px;
}

.tag-filter input[type="color" i] {
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px var(--shadow-y) var(--shadow-blend) rgba(0, 0, 0, 0.6);
    inline-size: 30px;
    block-size: 30px;
    border-style: none;
    padding: 0px;
    transform: translateY(35%);
}

.tag-filter input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0px;
    border: none;
}

.tag-filter input[type="color" i]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

.tag-filter input[type="color" i]::-moz-color-swatch {
    border-radius: 50%;
    border: none
}

.tag-filter input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 25px;
    transform: translateY(4.5px);
    box-shadow: 0px var(--shadow-y) var(--shadow-blend) rgba(0, 0, 0, 0.6);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 0.12s transform ease-in-out;
    border-radius: 25px;
    box-shadow: inset 20px 20px rgb(130, 38, 229);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.add-btn {
    position: absolute;
    display: grid;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    place-content: center;
    top: 10px;
    right: 10px;
} 

.add-btn::after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    transform: translateY(-1px);
    scale: 1.3;
}

.delete-btn {
    position: absolute;
    display: grid;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    place-content: center;
    top: 10px;
    left: 10px;
}

.delete-btn::after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    transform: rotate(45deg);
    scale: 1.3;
}

.save-item {
    font-size: 1.3em;
    padding: 10px;
}

.save-item h4 {
    padding: 0;
    margin: 0; 
}

.save-item.selected {
    background-color: #c2c2c2;
} 

/* Dropdowns */



.dropbtn::after {
    content: '\25BC'; /* Unicode character for down arrow */
    margin-left: 10px;
}

.container {
    width: 500px;
    padding: 50px;
    background: lightgreen;
    overflow: auto;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-wrapper {
    position: absolute;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    z-index: 20;
}

.dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown label:hover {
    background-color: #ddd;
}

.top {
    z-index: 500;
    bottom: 80px;
}

.show {
    display: block;
}

/* Inputs */

/* Container for each input field */
.input-container {
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-top: 18px;
}

/* Label positioned inside the input field */
.input-container label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #aaa;
    transition: all 0.3s ease;
    pointer-events: none; /* Prevents label from blocking input */
}

.rounded-input {
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px var(--shadow-y) var(--shadow-blend) var(--shadow-color);
    border: none;
    height: 30px;
    padding: 0 10px;
    margin: 0; /* Remove margin from inputs */
    width: 100%; /* Make input take up full width of the container */
}

.small-input {
    width: 110px;
}

.crossing-features-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    gap: 10px;
    align-items: center;;
    width: 80%;
    margin: 10px auto;
}

.crossing-features-grid .feature {
    grid-column: 1;
    text-align: left;
}

.crossing-features-grid .required {
    grid-column: 2;
}

.crossing-features-grid .weight {
    grid-column: 3;
}

table {
    padding-top: 10px;
    margin: auto;
}


/* Placeholder moves up when input is focused or not empty */
.rounded-input:focus + label,
.rounded-input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    padding: 0 5px;
    color: black;
}

/* Styling for smaller input fields */
.small-input {
    width: 110px;
}

/* Buttons */

.round-btn {
    text-align: center;
    display: inline-block;
    width: 30px; 
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    place-content: center;
    vertical-align: middle;
    top: 10px;
    right: 10px;
    transition: 0.12s box-shadow ease-in-out;
    margin: 5px;
} 

.round-btn:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
}

.btn-add::before, .btn-add::after, .btn-delete::after, .btn-delete::before {
    content: " ";
    position: absolute;
    height: 20px;
    width: 4px;
    background-color: rgb(119, 48, 211);
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.btn-add::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.btn-delete::before, .btn-delete::after {
    background-color: rgb(190, 20, 20);
}

.btn-delete::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn-delete::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.toggle-btn {
    user-select: none;
    text-align: center;
    display: inline-block;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    place-content: center;
    vertical-align: middle;
    top: 10px;
    right: 10px;
    transition: 0.12s box-shadow ease-in-out;
    margin: 5px;
    padding: 0px 20px;
}

.toggle-btn:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
}

/* Route Filters */

.route-filter {
    text-align: left;
    background-color: #42692817;
}
